<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
<head data-hook="inside_head">
  <%= render :partial => 'spree/shared/head' %>

  <style>

    /* Carousel and pictures */
    .view:not(.hm-zoom) {
      overflow:visible;
    }

  </style>
</head>
<body class="fixed-sn mdb-skin">
<header>
  <%= render :partial => 'spree/shared/header' unless devise_controller? %>
</header>

<main>
  <div class="row">
    <div class="col-md-12">

      <!--Carousel Wrapper-->
      <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-2" data-slide-to="1"></li>
          <li data-target="#carousel-example-2" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <!--First slide-->
          <div class="carousel-item active">
            <!--Mask color-->
            <div class="view hm-black-light">
              <img src="https://mdbootstrap.com/images/slides/slide%20(25).jpg" class="img-fluid" alt="">
              <div class="full-bg-img">
              </div>
            </div>
            <!--Caption-->
            <div class="carousel-caption">
              <div class="animated fadeInDown">
                <h3 class="h3-responsive">New Fall / Winter handbags</h3>
                <p>Take a look at our Trends and prepare for Fall Season</p>
              </div>
            </div>
            <!--Caption-->
          </div>
          <!--/First slide-->

          <!--Second slide-->
          <div class="carousel-item">
            <!--Mask color-->
            <div class="view hm-black-light">
              <img src="https://mdbootstrap.com/images/slides/slide%20(26).jpg" class="img-fluid" alt="">
              <div class="full-bg-img">
              </div>
            </div>
            <!--Caption-->
            <div class="carousel-caption">
              <div class="animated fadeInDown">
                <h3 class="h3-responsive">Best sweaters for winter</h3>
                <p>Choose your favourite one and you're never be cold</p>
              </div>
            </div>
            <!--Caption-->
          </div>
          <!--/Second slide-->

          <!--Third slide-->
          <div class="carousel-item">
            <!--Mask color-->
            <div class="view hm-black-light">
              <img src="https://mdbootstrap.com/images/slides/slide%20(27).jpg" class="img-fluid" alt="">
              <div class="full-bg-img">
              </div>
            </div>
            <!--Caption-->
            <div class="carousel-caption">
              <div class="animated fadeInDown">
                <h3 class="h3-responsive">New arrivals for summer</h3>
                <p>Go for holidays with our shirts and sunglasses</p>
              </div>
            </div>
            <!--Caption-->
          </div>
          <!--/Third slide-->
        </div>
        <!--/.Slides-->

        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
      </div>
      <!--/.Carousel Wrapper-->

    </div>
  </div>

  <div id="wrapper" class="row" data-hook>

    <%= taxon_breadcrumbs(@taxon) %>

    <%#= render :partial => 'spree/shared/sidebar' if content_for? :sidebar %>

    <div id="content" class="columns <%= !content_for?(:sidebar) ? "sixteen" : "twelve omega" %>" data-hook>

      <%= flash_messages %>
      <%= yield %>
    </div>

    <%= yield :templates %>

  </div>


  </div>
</main>
<footer class="page-footer center-on-small-only">
  <%= render :partial => 'spree/shared/footer' %>
</footer>
<script>
  // SideNav init
  $(".button-collapse").sideNav();
  var el = document.querySelector('.custom-scrollbar');
  Ps.initialize(el);
  $('[data-toggle="tooltip"]').tooltip()
</script>

<script>
  new WOW().init();
</script>
<%#= render :partial => 'spree/shared/google_analytics' %>
</body>
</html>
