// GENERAL
.sidebar-categories-list {
    li {
        margin-bottom: .7rem;
    }
}


/* Caption */

@media (min-width: 776px) {
    .carousel .view ul li {
        display: inline;
    }
    .carousel .view .full-bg-img ul li .flex-item {
        margin-bottom: 1.5rem;
    }
}


/* Product */

.product-name {
    margin-top: 0.6rem;
}

.product-accordion {
    @media (min-width: 768px) {
        .panel {
            padding-left: 0;
        }
    }
}

.product-quick-look {
    font-size: 4rem;
    color: rgba(255, 255, 255, .85);
}


/* Modal */ 

.modal-product-title {
    margin-top: 1rem;
}

.modal-reviews {
    padding: .35rem 0;
    .reviews-count {
        font-size: 12px;
        font-weight: 300;
        font-style: italic;
        margin-left: 4px;
    }
}

.price,
.modal-price {
    font-size: 1.5rem;
}


/* Radio buttons */

.radio-group {
    min-width: 50px;
}

// make navbar transparent by default
.intro-page .navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

// Carousel styles

.fp-carousel-view {
    height: 100vh;
}


.animated {
    .wow { 
        visibility: hidden;
    }
}

// blog
.reply-form-margins {
    // Medium devices (tablets, 48em and up)
    @media (min-width: 48em) {
        padding-left: 7%;
        padding-right: 7%;
    }
    // Large devices (desktops, 62em and up)
    @media (min-width: 62em) {
        padding-left: 10%;
        padding-right: 10%;
    }
    // Extra large devices (large desktops, 75em and up)
    @media (min-width: 75em) {
        padding-left: 12%;
        padding-right: 12%;
    }
} 

// terms of use section
.terms {
    font-weight: 300;
}

// Footer 
.advantages {
    display: block;
    margin-bottom: -20px;
    text-align: center;
    padding: 60px 0;
    .fa {
        font-size: 4rem;
    }
    .rounded-circle {
        width: 8rem;
        height: 8rem;
        border: 5px solid #373a3c;
        padding-top: 1.5rem;
    }
}

.counts {
    margin-top: 6rem;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    h2 {
        display: block;
        font-size: 3rem;
    }
}

.page-footer {
    .title {
        &.social-section-title {
            margin-left: 10px;
        }
    }
}

@media (min-width: 776px) {
    .instagram-photos {
        max-width: 444px;
    }
}


/*Product Page V.4*/

.streak.streak-lg {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-attachment: initial;  
    &.more-height {
        height: 500px;
    }
    @media (max-width: 544px) {
        &.more-height {
            height: 100vh;
        }
    }
}

.jumbotron {
    &.margin { 
        margin-top: -60px;
        text-align: center;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16), 0 4px 15px 0 rgba(0, 0, 0, 0.12);
    }
}


/*Homepage V.4*/

.newsletter {
    .md-form {
        width: 20rem;
    }
}


/*Homepage V.4 Half Carousel*/

html,
body {
    height: 100%;
}

/* Carousel*/ 

.carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
}
 

/* Carousel*/

.half-carousel {
    height: 100%;
    @media (min-width: 776px) {
        height: 50%;
    }
    .carousel-item {
        height: 100%;
    }
    &.active {
        height: 100%;
    }
}

.carousel-inner {
    height: 100%;
}


/*Category List V.2*/

.divider {
    height: 3px;
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 1em 0 1em;
    width: 30px;
}

.filter-menu {
    li {
        line-height: 1.6;
        padding: 6px 0 0 6px;
        border-bottom: 1px solid #e6e6e6;
        &:last-child {
            border-bottom: 0;
        }
    }
}

//Blog Page
.blog-widget-content {
    .view {
        margin-bottom: 1.2rem;
    }
    .single-post {
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 1.2rem;
        .post-data {
            margin-bottom: 2.7rem;
            &.popular-posts-section {
                margin-bottom: 4rem;
            }
            font-weight: 500;
            color: #616161;
            p {
                float: left;
            }
            a {
                float: right;
            }
        }
        h6 {
            margin-bottom: 1rem;
            font-weight: 400;
            color: #424242;
            &:hover {
                color: #616161;
            }
        }
    }
}

.pattern-1, .pattern-2, .pattern-3, .pattern-4, .pattern-5, .pattern-6, .pattern-7, .pattern-8, .pattern-9 {
    background-attachment: fixed; 
}

.select-dropdown li.disabled:hover, .select-dropdown li.disabled > span:hover, .select-dropdown li.optgroup:hover {
    color: rgba(0, 0, 0, 0.3) !important;
    background-color: transparent!important;
    cursor: context-menu;
    box-shadow: none;
}

.header-breadcrumb .breadcrumb-item.active {
    color:rgba(255,255,255,.75)
}